.txsp {
    position: fixed;
    z-index: 101;
    left: 16px;
    bottom: 16px;
    background-color: rgb(255, 145, 165);
    border-radius: 8px;
    padding: 8px 16px;
    color: white;
    font-size: 16px;
    user-select: none;
}
.txsp:hover {
    cursor: pointer;
}
.txsp:active {
    background-color: rgb(250, 70, 100);
}

.toast {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.6;
    color: white;
    width: 300px;
    height: 150px;
    top: 50%;
    margin-top: -75px;
    left: 50%;
    margin-left: -150px;
    z-index: 1000;
    font-size: 24px;
    border-radius: 8px;

    animation: fadeInOut 2s;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
